.filter {
  align-self: center;
  width: 70%;
}

.sort {
  margin: 1rem 0;
  width: 8em;
}

.sortBy {
  text-transform: capitalize;
}

@media (max-width: 575.98px) {
  .filter {
    width: 90%;
  }
}
