.date {
  margin-left: .2em;
}

.list {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.tableContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
}

.table {
  width: 35rem;
}

@media (max-width: 575.98px) {
  .table {
    width: 90%;
  }
}
